#content{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 10;
    bottom: 70;
    right: 10;
    left: 10;
}

#navigation-bar{
    display: flex;
    flex-direction: column;
    max-width: min-content; /* Adjust the size of the frame here */
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: hidden; /* Ensure that content does not exceed the frame */
    width: 100%;
    height: 100%;
}

#user-info{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: hidden; /* Ensure that content does not exceed the frame */
}

#logout{
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #db3447; /* Adjust the background color of the button */
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

/* Hover effect */
#logout:hover {
    background-color: #b92930; /* Adjust the background color on hover */
}

/* Add a subtle animation effect on click */
#logout:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#room-list{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: hidden; /* Ensure that content does not exceed the frame */
    height: 100%;
}

.room{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #3498db; /* Adjust the background color of the button */
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.room:hover {
    background-color: #2980b9; /* Adjust the background color on hover */
}

/* Add a subtle animation effect on click */
.room:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chat{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: hidden; /* Ensure that content does not exceed the frame */
    width: 100%;
    height: 100%;
}

#chat-history{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: auto; /* Ensure that content does not exceed the frame */
    height: 100%;
}

.message {
    position: relative;
    display: inline-block;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.outgoing {
    background-color: #3498db; /* Outgoing message background color */
    color: #fff; /* Outgoing message text color */
    text-align: right;
    margin-left: 80%;
    align-self: flex-end;
}

.incoming {
    background-color: #f0f0f0; /* Incoming message background color */
    color: #333; /* Incoming message text color */
    text-align: left;
    margin-right: 80%;
    align-self: flex-start;
}

#message-inpute{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 10px solid #ccc; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #fff; /* Background color inside the frame */
    border-radius: 10px; /* Adjust to control the roundness of corners */
    overflow: hidden; /* Ensure that content does not exceed the frame */
}

#input-message {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background-color: #f0f0f0; /* Input field background color */
    color: #333; /* Input text color */
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

#input-message:focus {
    outline: none;
    background-color: #fff; /* Input field background color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Focus effect with shadow */
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #4ca1af, #8ed4e0); /* Gradient background */
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;
}